@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-primary: #0B5ED7;
    --bg-gradient: linear-gradient(45deg, #155DFC, #9810FA);
    --bg-gradient-blue: linear-gradient(45deg, #2B7FFF, #155DFC); 
    --bg-gradient-purple: linear-gradient(45deg, #AD46FF, #9810FA);
    --bg-light-gradient: linear-gradient(45deg,#DBEAFE,#F3E8FF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif !important;
    background: #f9fbff;
}

.fs-1, .fs-2, .fs-3, .fs-4, .fs-5, .fs-6 {
    line-height: normal;
}

p {
    margin-bottom: 0 !important;
}

.line-height-1-6 {
    line-height: 1.6 !important;
}

.fs-1, .fs-2, h1, h2 {
    font-family: "Raleway", sans-serif;
}

#scrollTopBtn {
   position: fixed;
   bottom: 30px;
   right: 30px;
   display: none;
   background: var(--bg-gradient-blue);
   color: white;
   border: none;
   border-radius: 50%;
   width: 45px;
   height: 45px;
   cursor: pointer;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bg-purple { background:#7c5cff; }
.bg-gradient-purple { background: var(--bg-gradient-purple); }
.bg-indigo { background:#6366f1; }
.bg-blue { background:#3b82f6; }
.bg-gradient-blue { background: var(--bg-gradient-blue); }
.bg-violet { background:#8b5cf6; }
.bg-soft-pink { background: #FFF6F7; }
.bg-light-gradient { background: var(--bg-light-gradient); }
.bg-transparent { background: rgba(255, 255, 255, 0.2) !important; }
.bg-gradient-tri {
    background: var(--bg-gradient) !important;
}
.bg-gradient-yellow { background: linear-gradient(45deg, rgba(253, 199, 0, 1), rgba(255, 137, 4, 1)) !important; }

.btn-primary { background: var(--bg-primary) !important; }

.text-purple { color: #AE00FF; }
.text-blue { color: #0E51FF !important; }
.text-light-gray { color: rgba(219, 234, 254, 1) !important; }
.text-gradient {
    background: linear-gradient(90deg,#0059FF,#AE00FF, #0059FF);
    -webkit-background-clip: text;
    color: transparent;
}

.btn-outline-primary {
    color: #0B5ED7 !important;
    border-color: #0B5ED7 !important;
}

.growing-business-heading {
    font-size: 4rem;
    line-height: normal;
}

.growing-business-paragraph {
    font-size: 1.5rem;
    line-height: normal;
}

.growing-business-checks {
    font-size: 1.25rem;
}

.fs-19 {
    font-size: 19px !important;
}

.custom-navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #1e63ff;
    transition: all 0.3s ease;
    transform: translateX(-50%);
    border-radius: 2px;
}

/* Active link */
.custom-navbar .nav-link.active {
    color: #1e63ff !important;
    font-weight: 600;
}

.custom-navbar .nav-link.active::after {
    width: 80%;
}

/* Hover effect */
.custom-navbar .nav-link:hover::after {
    width: 80%;
}

.custom-navbar .nav-link:hover {
    color: #1e63ff !important;
}

nav {
    /* background: linear-gradient(120deg,#eef4ff,#ffffff); */
    background: linear-gradient(120deg,#faefff00, #ffffff, #6da0ff05);
}

.hero-section {
    padding: 140px 0 25px;
    /*background: linear-gradient(45deg,#FAEFFF, #ffffff, #6da0ff5e);*/
    
    background:
        /* Left Top Blue */
        radial-gradient(circle at 0% 0%, 
            rgba(109, 160, 255, 0.45) 0%, 
            rgba(109, 160, 255, 0.25) 20%, 
            transparent 45%
        ),

        /* Right Top Blue */
        radial-gradient(circle at 100% 0%, 
            rgba(109, 160, 255, 0.45) 0%, 
            rgba(109, 160, 255, 0.25) 20%, 
            transparent 45%
        ),

        /* Soft Middle Pink Glow */
        /*radial-gradient(circle at 50% 35%, 
            rgba(250, 239, 255, 0.9) 0%, 
            rgba(250, 239, 255, 0.6) 30%, 
            transparent 60%
        ),*/

        /* Base Background */
        rgba(249, 250, 255, 1);

    min-height: 100vh;
}

.hero-title {
    font-size: 3.5em;
    /*font-weight: 800;*/
    line-height: 1.2;
}

.hero-text {
    font-size: 1.3em;
    color: #555;
    margin: 20px 0 30px;
    letter-spacing: 1px;
    line-height: 1.8rem;
}

.badge-soft {
    background: #eef2ff;
    color: #4f46e5 !important;
    padding: 8px 16px !important;
    border-radius: 50px !important;
}

.features-section {
    padding: 120px 0 40px 0px;
}

.feature-card {
    background: #fff;
    border-radius: 16px;
    padding: 30px 25px;
    text-align: left;
    box-shadow: 0 20px 40px rgba(0,0,0,.08);
    height: 100%;
}

.icon-box {
    width: 54px;
    height: 54px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,#2B7FFF,#AD46FF);
    color: #fff;
    margin-bottom: 20px;
}

.section-title-badge {
    padding: 10px 30px;
    background: var(--bg-light-gradient);
    color: #0059FF;
    border: 1px solid #0059FF;
    border-radius: 50rem;
}

.icon-feature.active {
    border: 1px solid #1A6AFF;
}

.why-detail-card {
    background: url('/images/why-choose-1.png');
    background-size: cover !important;
    /*background-position: center !important;*/
    background-repeat: no-repeat !important;
}

#feature-icons .card {
    cursor: pointer;
}

#trial-section {
    background: url('/images/trial.png');
    background-size: cover;
}

.how-it-works-section .main .left {
    background: url('/images/how-works.png');
    background-position: center;
    background-size: cover;
}

/* .opacity-half {
    opacity: 0.5;
} */

.section {
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding-bottom: 40px;
}

.scroller {
    position: relative;
    max-height: 420px;
    overflow: auto;
}

.opacity-half {
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.section.active {
    opacity: 1 !important;
    transform: translateX(0);
}

.sticky-image {
    position: sticky;
    top: 100px;
}

/* Optional scrollbar styling */
.scroller::-webkit-scrollbar {
    width: 0px;
}
.scroller::-webkit-scrollbar-thumb {
    background: #6c5ce7;
    border-radius: 10px;
}

.review-profile {
    height: 50px;
    width: 50px;
}

.review-profile img {
    object-fit: cover;
}

.growing-business {
    background: url('/images/growing-business.png');
    background-size: cover;
    min-height: 50vh;
}

#contact-section {
    background: url('/images/contact.png');
    background-position: center;
    background-size: cover;
}

#create-organization {
    background: url('/images/org-create-bg.png');
    background-size: cover;
}

#org-form-section {
    background: url('/images/org-create-bg-2.png');
    background-position: center;
    background-size: cover;
}

#demo-request-form {
    /*background: url('/images/org-create-bg-2.png');*/
    background: url('/images/org-create-bg.png');
    background-position: center;
    background-size: cover;
}

#staticBackdrop .demo-paragraph {
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(63 68 73) !important;
}

@media (max-width: 768px) {
    .hero-title { font-size: 32px; }
    .hero-section { padding-top: 110px; }
    #hero-features-card {position: relative !important;}
    .navbar .container-fluid {border-radius: 0 !important; padding-bottom: 1rem;}
    .features-section {padding: 50px 0 40px 0px;}
    .growing-business-heading { font-size: 1.5rem; }
    .growing-business-paragraph { font-size: 1rem; line-height: normal; }
    .growing-business-checks { font-size: 1rem; }
}
